<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FRANZENSFESTE GIBS NET</title>
    <link rel="stylesheet" href="/public/css/index_styles.css">
</head>
<body>
    <div class="container">
        <h1>FRANZENSFESTE GIBS NET</h1>
        <img src="/public/static/BIG_LIE.png" alt="ITS ALL A BIG LIE" class="main-image">
        <p>This is an image showing the BIG LIE. Sometimes, things aren't always what they seem...</p>
    </div>
</body>
</html>
