{{#> layout title="Home"}}
    {{#*inline "page_content"}}
        <h1>Welcome to Our Political Movement</h1>
        <div class="container">
            <h1>FRANZENSFESTE GIBS NET</h1>
            <img src="/public/static/BIG_LIE.png" alt="ITS ALL A BIG LIE" class="main-image">
            <p>This is an image showing the BIG LIE. Sometimes, things aren't always what they seem...</p>
        </div>

    {{/inline}}

{{/layout}}


