{{#> header }}
<link rel="stylesheet" href="/css/index_style.css">
{{/header}}

{{#> layout title="Home"}}
{{#*inline "page_content"}}
<div class="header-section">
  <h1>Welcome to The Truth about Franzensfeste</h1>
</div>

<div class="container">
  <div class="main-content">
    <h1>Facts and Informations</h1>
    <div class="image-section">
      <img src="/static/BIG_LIE.webp" alt="Information Visual" class="main-image">
    </div>

    <div class="content-description">
      <p>Our site offers verified information and factual analysis about the biggest conspiracy going on in our world today. Join us on our mission
        to promote accurate knowledge and understanding about Franzensfeste.</p>
    </div>

    <div class="info-grid">
      <div class="info-card">
        <h2>Resources</h2>
        <img src="/static/resources.webp" alt="Educational Resources" class="card-image">
        <p>Discover reading materials and other information on our wiki.</p>
      </div>

      <div class="info-card">
        <h2>Community</h2>
        <img src="/static/community.webp" alt="Community Engagement" class="card-image">
        <p>Connect with others who share an interest in the Franzensfeste Conspiracy.</p>
      </div>
    </div>

    <div class="cta-section">
      <h2>Join Our Mission</h2>
      <p>Be part of our community dedicated to promoting understanding about whats going on in
        Franzensfeste.</p>
      <button class="cta-button" onclick="location.href = '/wiki';">Learn More</button>
    </div>
  </div>
</div>
{{/inline}}
{{/layout}}
