<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Explore real information and factual analysis about the Franzensfeste conspiracy. Join our community to uncover the truth. Dark Secrects from Franzensfeste.">
  <meta name="keywords" content="Franzensfeste, Franzensfeste Fortress, Fortezza, South Tyrol, conspiracy theories, Franzensfeste conspiracy, Brenner Pass, historical fortresses, Tyrolean history, Austrian Empire, hidden truths, military architecture, secret history, South Tyrol fortifications, Franzensfeste secrets">

  <meta name="robots" content="index, follow">

  <meta property="og:title" content="The Truth About Franzensfeste">
  <meta property="og:description" content="Explore verified information and factual analysis about the Franzensfeste conspiracy. Join our community to uncover the truth.">
  <meta property="og:url" content="https://www.franzensfestegibs.net/">
  <meta property="og:type" content="website">
  <meta property="og:image" content="https://www.franzensfestegibs.net/static/BIG_LIE.webp">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:title" content="The Truth About Franzensfeste">
  <meta name="twitter:description" content="Explore verified information and factual analysis about the Franzensfeste conspiracy. Join our community to uncover the truth.">
  <meta name="twitter:image" content="https://www.franzensfestegibs.net/static/BIG_LIE.webp">



  <link rel="stylesheet" href="/css/style.css">
  <link href="https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;500;600;700&display=swap" rel="stylesheet">
  <title>{{title}} - Franzensfeste gibs net</title>
  {{> header}}
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/wiki">Wiki</a></li>
        <li><a href="/forum">Forum</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {{> page_content}}
  </main>
  <script>
    // Basic JavaScript for interactivity
    document.addEventListener('DOMContentLoaded', () => {
      console.log('Website loaded');
    });
  </script>
</body>

</html>
