{{#*inline "header"}}
<link rel="stylesheet" href="/css/article_style.css">
{{/inline}}

{{#> layout title=view.article.title}}
{{#*inline "page_content"}}
<a href="/wiki/" class="back-link">Back to archive</a>
<article class="article-container dossier-page">
  <p class="eyebrow">Archive document</p>
  <h1>{{view.article.title}}</h1>
  <div class="article-content">
    {{{view.content_html}}}
  </div>
</article>
{{/inline}}
{{/layout}}
