{{#> header }}
<link rel="stylesheet" href="/css/wiki_style.css">
{{/header}}

{{#> layout title="Wiki"}}
{{#*inline "page_content"}}
<div class="wiki-container">
  <h1>Wiki</h1>
  <div class="wiki-list">
    {{#each md_files }}
    <div class="wiki-item">
      <a href="/wiki/{{this}}">{{this}}</a>
    </div>
    {{/each}}
  </div>
</div>
{{/inline}}
{{/layout}}
