{{#> layout title="Wiki"}}
    {{#*inline "page_content"}}
        <h1>Wiki</h1>
        <p>This is the wiki section. Add your articles and educational content here.</p>
        <!-- Add a list or grid of wiki articles -->
    {{/inline}}
{{/layout}}

