{{#*inline "header"}}
<link rel="stylesheet" href="/css/wiki_style.css">
{{/inline}}

{{#> layout title="Wiki"}}
{{#*inline "page_content"}}
<section class="wiki-container dossier-page">
  <header class="page-intro page-intro--compact">
    <p class="eyebrow">Archive index</p>
    <h1>Wiki Files</h1>
  </header>
  {{#if error}}
    <div class="error-message"><p>{{error}}</p></div>
  {{/if}}
  <div class="wiki-list">
    {{#each articles }}
    <article class="wiki-item">
      <a href="/wiki/{{this.slug}}">{{this.title}}</a>
    </article>
    {{else}}
    <p>No published articles yet.</p>
    {{/each}}
  </div>
</section>
{{/inline}}
{{/layout}}
